.main-content {

  .language-picker {
    &:hover {
      color: #d4fd02;
    }
  }
  $logo-transition-duration: 250ms;

  .martian {
    opacity: 0;
    visibility: hidden;
    transition: opacity $logo-transition-duration;
  }

  .earth {
    opacity: 1;
    visibility: visible;
    transition: opacity 400ms;
  }

  &.change-logo {
    .martian {
      opacity: 1;
      visibility: visible;
      transition: opacity 400ms;
    }

    .earth {
      opacity: 0;
      visibility: hidden;
      transition: opacity $logo-transition-duration;
    }
  }

  .nav {
    position: fixed;
    z-index: 3;
  }

}