.top-headline {
  padding-bottom: 100px;
  
  .top-headline-background-image {
    overflow: hidden;
    color: white;
    height: 500px;
    width: 100%;

    .headline-details {
      top: 78%;
      position: absolute;
    }

    .headline-details-small {
      top: 70%;
      position: absolute;
    }
  }
}