.top-headline {
  padding-bottom: 300px;
  .top-headline-background-image {
    overflow: hidden;
    color: white;
    height: 500px;
    width: 100%;

    .headline-details {
      top: 65%;
      position: absolute;
      
      h3 {
      color: white;
      }

      h5 {

        color: white;
        
      }
    }

    .headline-details-small {
      top: 65%;
      position: absolute;

      h3 {
        color: white;
        // text-align: center;
      }
    }
  }
}