.top-headline {
  padding-bottom: 100px;
  
  .top-headline-background-image {
    overflow: hidden;
    color: white;
    height: 500px;
    width: 100%;

    .headline-details {
      
      margin-top: 450px;
      position: absolute;
    }

    .headline-details-medium {
      margin-top: 400px;
      position: absolute;
    }

    .headline-details-small {
      margin-top: 325px;
      position: absolute;
    }
  }
}