.headline-font {
  font-family: 'Bevan', Helvetica;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.uppercase {
  text-transform: uppercase;
}

.padding-horizontal-5p {
  padding-left: 5%;
  padding-right: 5%;
}

.background-color-black {
  background-color: black;
}